{% assign uniqueId = 'id_d38ee119-87d0-41b1-ae0d-e943907cbc03' %}
{% assign builderMode = false %}
{% assign envatoMode = false %}
{% liquid
  if section.settings.VEDA_switch_1
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if section.settings.VEDA_select_2 == 'color'
    assign backgroundColor = 'background-color: ' | append: section.settings.VEDA_color_1 | append: ';'
  else
    assign backgroundColor = ''
  endif

  if section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_2
    assign bgImage = section.settings.VEDA_image_2 | append: '&width=2000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_3 | append: ';'
  elsif section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_2 == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_3 | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: section.settings.VEDA_space_4 | append: 'px;padding-right: ' | append: section.settings.VEDA_space_3 | append: 'px;padding-bottom: ' | append: section.settings.VEDA_space_1 | append: 'px;padding-left: ' | append: section.settings.VEDA_space_2 | append: 'px;'

  if section.settings.VEDA_select_1 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif

  if section.settings.VEDA_slider_1 >= 0
    assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_1 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_1 | append: 'px;'
  else
    assign containerGap = ''
  endif

  if section.settings.section_settings___width >= 0
    assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
  else
    assign containerWidth = ''
  endif

  if section.settings.VEDA_slider_2 >= 0
    assign settingGap = section.settings.VEDA_slider_2 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_2
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if section.settings.VEDA_switch_3
    if section.settings.VEDA_slider_4
      assign sectionSeparator = sectionSeparator | append: 'border-top: ' | append: section.settings.VEDA_slider_4 | append: 'px solid ' | append: section.settings.VEDA_color_3 | append: ';'
    endif

    if section.settings.VEDA_slider_5
      assign sectionSeparator = sectionSeparator | append: 'border-bottom: ' | append: section.settings.VEDA_slider_5 | append: 'px solid ' | append: section.settings.VEDA_color_3 | append: ';'
    endif
  endif

  if colGap and rowGap and builderMode and envatoMode
  endif
%}

{% liquid
  assign _defaul_aspect_ratio = false

  assign _image_border_radius = false

  assign _component = false

  assign _instock_class = false

  assign _outofstock_class = false
%}
{% capture Content %}
  {% liquid
    assign collectionData = collections[section.settings.VEDA_collectionPicker_1]

    assign quantity_product_displayed = section.settings.product_settings___limit
  %}
  <div class="w:100% w:60%@sm w:65%@md w:75%@lg">
    {% paginate collectionData.products by quantity_product_displayed %}
      <div class="pos:relative">
        {% if section.settings.VEDA_slider_2 == 0 %}
          <div class="pos:absolute t:0 r:1px b:1px l:0 z:2 bxsh:-1px_0_color-gray2,0_-1px_color-gray2 pe:none"></div>
        {% endif %}
        <div
          class="row row-cols-lg-{{ section.settings["VEDA_responsive_1"] }} row-cols-md-{{ section.settings["VEDA_responsive_2"] }} row-cols-sm-{{ section.settings["VEDA_responsive_3"] }} row-cols-{{ section.settings["VEDA_responsive_4"] }}"
          {% if section.settings.VEDA_slider_2 or section.settings.VEDA_slider_2 == 0 %}
            style="{{ rowGap }}"
          {% endif %}
        >
          <script type="application/json" class="quickview-data-js">
            {
              "add_to_cart_text": "{{ 'veda.products.product.add_to_cart' | t }}",
              "quantity_text": "{{ 'veda.products.product.quantity.label' | t }}",
              "view_detail": "{{ 'veda.products.product.view_details' | t }}",
              "add_compare": "{{ 'veda.products.product.add_to_compare' | t }}",
              "remove_compare": "{{ 'veda.products.product.remove_from_compare' | t }}",
              "add_wish_list": "{{ 'veda.products.product.add_to_wishlist' | t }}",
              "remove_wish_list": "{{ 'veda.products.product.remove_from_wishlist' | t }}",
              "in_stock": "{{ 'veda.products.product.in_stock' | t: count: 1 }}",
              "out_of_stock": "{{ 'veda.products.product.outofstock' | t }}"
            }
          </script>
          {% for productItem in collectionData.products %}
            <div
              class="col"
              {% if section.settings.VEDA_slider_2 or section.settings.VEDA_slider_2 == 0 %}
                style="{{ colGap }}"
              {% endif %}
            >
              <div
                class="product-card-js group* pos:relative z:9|h mih:100% bgc:color-light bxsh:0_0_20px_color-gray9.2|h trs:0.3s"
                style="text-align: {{ section.settings["product_settings___align"] }}"
                data-css="{{ section.settings["VEDA_styleBox_8"] }}"
              >
                {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                {% liquid
                  assign price_compare = productItem.compare_at_price

                  if price_compare
                    assign price_compare = productItem.compare_at_price
                  else
                    assign price_compare = 0
                  endif
                %}
                <script class="{{ 'product-card-data-js' }}" type="application/json">
                  {
                    "id": {{ productItem.id | json }},
                    "title": {{ productItem.title | json }},
                    "vendor": {{ productItem.vendor | default: "" | json }},
                    "handle": {{ productItem.handle | default: "" | json }},
                    "available": {{ productItem.available | default: false | json }},
                    "description": {{ productItem.description | default: "" | json }},
                    "featured_image": {{ productItem.featured_image | json }},
                    "images": {{ productItem.images | default: null | json }},
                    "options": {{ productItem.options | default: null | json }},
                    "selected_or_first_available_variant": {
                      "id": {{ productItem.selected_or_first_available_variant.id | json }},
                      "available": {{ productItem.selected_or_first_available_variant.available | default: false | json }},
                      "price": {{ productItem.selected_or_first_available_variant.price | money | json }},
                      {% if productItem.selected_or_first_available_variant.compare_at_price %}
                        "compare_at_price": {{ productItem.selected_or_first_available_variant.compare_at_price | money | json }},
                      {% else %}
                        "compare_at_price": {{ 0 | money | json }},
                      {% endif %}
                      "featured_image": {{ productItem.selected_or_first_available_variant.featured_image | json }},
                      "image": {{ productItem.selected_or_first_available_variant.image | json }},
                      "inventory_quantity": {{ productItem.selected_or_first_available_variant.inventory_quantity | json }},
                      "options": {{ productItem.selected_or_first_available_variant.options | default: null | json }},
                      "title": {{ productItem.selected_or_first_available_variant.title | default: "" | json }}
                      {% if productItem.selected_or_first_available_variant.sku %}
                      ,
                      "sku": {{ productItem.selected_or_first_available_variant.sku | default: "" | json }}
                      {% endif %}
                      {% if productItem.selected_or_first_available_variant.url %}
                      ,
                      "url": {{ productItem.selected_or_first_available_variant.url | json }},
                      {% endif %}
                    },
                    "price_max": {{ productItem.price_max | json }},
                    "price_min": {{ productItem.price_min | json }},
                    {% if productItem.type %}

                    "type": {{ productItem.type | json }},
                    {% endif %}
                    "tags": {{ productItem.tags | default: "" | json }},
                    "variants": [
                    {% for item in productItem.variants %}
                        {
                          "id": {{ item.id | json }},
                          "available": {{ item.available | default: false | json }},
                          "price": {{ item.price | money | json }},
                          {% if item.compare_at_price %}
                            "compare_at_price": {{ item.compare_at_price | money | json }},
                          {% else %}
                            "compare_at_price": {{ 0 | money | json }},
                          {% endif %}
                          "featured_image": {{ item.featured_image | json }},
                          "image": {{ item.image | json }},
                          "inventory_quantity": {{ item.inventory_quantity | json }},
                          "options": {{ item.options | default: null | json }},
                          "title": {{ item.title | json }}
                          {% if item.sku %}
                            ,
                            "sku": {{ item.sku | json }}
                          {% endif %}

                          {% if item.url %}
                          ,
                            "url": {{ item.url | json }},
                          {% endif %}
                        },
                    {% endfor %}
                  ],
                    "price": {{ productItem.price | money | json }},
                    "compare_at_price": {{ price_compare | money | json }},
                    "options_with_values": {{ productItem.options_with_values | json }},
                    "url": {{ productItem.url | default: "" | json }},
                    "published_at": {{ productItem.published_at | default: "" | json }}
                  }
                </script>
                {% comment %}KET_THUC_TACH_FILE{% endcomment %}

                <script type="application/json" class="current-variant-id">
                  {{ productItem.selected_or_first_available_variant.id | json }}
                </script>
                {% if section.settings.VEDA_slider_2 != 0 %}
                  <div class="pos:absolute ins:0 z:2 bd:1px_solid_color-gray3 pe:none"></div>
                {% else %}
                  <div class="pos:absolute ins:0 z:2 bxsh:1px_0_color-gray3,0_1px_color-gray3 pe:none"></div>
                {% endif %}
                <div class="w:100% pb:15px" style="padding: {{ section.settings["VEDA_slider_6"] }}px">
                  <div class="pos:relative">
                    {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                    {% liquid
                      if _defaul_aspect_ratio and _defaul_aspect_ratio != 0
                        assign aspectRatio = _defaul_aspect_ratio
                      else
                        assign aspectRatio = 90
                      endif

                      if section.settings.VEDA_slider_7 and section.settings.VEDA_slider_7 != 0
                        assign aspectRatio = section.settings.VEDA_slider_7
                      endif
                    %}
                    <div
                      class="ov:hidden w:100% pos:relative"
                      {% if section.settings.VEDA_slider_8 %}
                        style="border-radius: {{ section.settings["VEDA_slider_8"] }}px"
                      {% endif %}
                    >
                      <a
                        href="{{ productItem.url }}"
                        class="veda-image-cover pos:relative d:block trs:opacity_0.3s z:1 {% if productItem.images[1] %}op:0*group-hover{% endif %}"
                        style="--aspect-ratio:{{ aspectRatio }}"
                      >
                        <img
                          class="product-card-image-js veda-lazyload"
                          src="{{ productItem.featured_image.src | image_url: width: 10 }}"
                          alt="{{ productItem.title }}"
                          width="{{ productItem.featured_image.width }}"
                          height="{{ productItem.featured_image.height }}"
                          data-intrinsic-width="{{ productItem.featured_image.width }}"
                          data-intrinsic-height="{{ productItem.featured_image.height }}"
                          loading="lazy"
                        >
                      </a>
                      {% if productItem.images[1] %}
                        <a
                          href="{{ productItem.url }}"
                          class="veda-image-cover pos:absolute! t:0 l:-100000px w:100% z:9 op:0 trs:opacity_0.4s,left_0s_0.4s trs:opacity_0.4s,left_0s_0s*group-hover op:1*group-hover l:0*group-hover"
                          style="--aspect-ratio:{{ aspectRatio }}"
                        >
                          <img
                            class="veda-lazyload bgc:color-light-freeze"
                            src="{{ productItem.images[1].src | image_url: width: 10 }}"
                            alt="{{ productItem.title }}"
                            width="{{ productItem.featured_image.width }}"
                            height="{{ productItem.featured_image.height }}"
                            data-intrinsic-width="{{ productItem.images[1].width }}"
                            data-intrinsic-height="{{ productItem.images[1].height }}"
                            loading="lazy"
                          >
                        </a>
                      {% endif %}
                    </div>
                    {% comment %}KET_THUC_TACH_FILE{% endcomment %}
                  </div>
                </div>
                {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                <div class="pos:absolute t:10px r:0 z:12 w:35px w:44px@md m:auto ov:hidden ov:visible|h">
                  <div class="w:30px@md w:24px d:flex fld:column ai:center cur:pointer">
                    <span
                      class="product-card-add-js mb:5px w:24px h:24px w:30px@md h:30px@md pos:relative fz:13px bdrs:50% bgc:color-gray9-freeze c:color-gray1-freeze trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be trf:translate(100%,0)@md r:0 r:-15px@md trs:0.3s trf:translate(0,0)*group-hover@md r:0*group-hover@md"
                      data-tooltip-position="left"
                      data-tooltip-text="{{ 'veda.products.product.add_to_bundle' | t }}"
                      data-cart-success-text="{{ 'veda.products.product.add_to_bundle' | t }}"
                      data-css="{{ section.settings["VEDA_styleBox_27"] }}"
                    >
                      <div class="product-cart-add-icon-js"><i class="far fa-backpack"></i></div>
                    </span>
                    {% if section.settings.VEDA_switch_7 %}
                      <span
                        class="wishlist-toggle-js mb:5px w:24px h:24px w:30px@md h:30px@md pos:relative fz:13px bdrs:50% bgc:color-gray9-freeze c:color-gray1-freeze trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be trf:translate(100%,0)@md r:0 r:-15px@md trs:0.3s trf:translate(0,0)*group-hover@md r:0*group-hover@md trsde:0.05s"
                        data-tooltip-position="left"
                        data-tooltip-active="true"
                        data-tooltip-text="{{ 'veda.products.product.add_to_wishlist' | t }}"
                        data-tooltip-active-text="{{ 'veda.products.product.remove_from_wishlist' | t }}"
                        data-css="{{ section.settings["VEDA_styleBox_22"] }}"
                      >
                        <i class="fas fa-heart"></i>
                      </span>
                    {% endif %}
                    {% if section.settings.compare_action___enable %}
                      <span
                        class="compare-toggle-js mb:5px w:24px h:24px w:30px@md h:30px@md pos:relative fz:13px bdrs:50% bgc:color-gray9-freeze c:color-gray1-freeze trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be trf:translate(100%,0)@md r:0 r:-15px@md trs:0.3s trf:translate(0,0)*group-hover@md r:0*group-hover@md trsde:0.1s"
                        data-tooltip-position="left"
                        data-tooltip-active="false"
                        data-tooltip-text="{{ 'veda.products.product.add_to_compare' | t }}"
                        data-tooltip-active-text="{{ 'veda.products.product.remove_from_compare' | t }}"
                        data-css="{{ section.settings["VEDA_styleBox_24"] }}"
                      >
                        <i class="fas fa-repeat-alt"></i>
                      </span>
                    {% endif %}
                    {% if section.settings.quick_view___enable %}
                      <span
                        class="quickview-toggle-js w:24px h:24px w:30px@md h:30px@md pos:relative fz:13px bdrs:50% bgc:color-gray9-freeze c:color-gray1-freeze trs:0.3s c:color-primary|h d:flex! ai:center jc:center bdrs:4px|be fz:12px|be trf:translate(100%,0)@md r:0 r:-15px@md trs:0.3s trf:translate(0,0)*group-hover@md r:0*group-hover@md trsde:0.15s"
                        data-tooltip-text="{{ 'veda.products.product.quick_view' | t }}"
                        data-tooltip-position="left"
                        data-tooltip-active="false"
                        data-css="{{ section.settings["quick_view___design__id"] }}"
                      >
                        <i class="far fa-eye"></i>
                      </span>
                    {% endif %}
                  </div>
                </div>
                {% comment %}KET_THUC_TACH_FILE{% endcomment %}

                <div class="pos:absolute t:10px l:10px z:9">
                  {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                  {% if section.settings.VEDA_switch_4 %}
                    <a
                      class="{{ 'p:2px_5px bdrs:3px bgc:color-primary c:color-light-freeze lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase op:0 op:1*group-hover trs:0.3s' }}"
                      data-css="{{ section.settings["VEDA_styleBox_10"] }}"
                      href="{{ shop.url }}/collections/vendors?q={{ productItem.vendor }}"
                      {% if _component %}
                        component="{{ _component }}"
                      {% endif %}
                    >
                      {{ productItem.vendor }}
                    </a>
                  {% endif %}
                  {% comment %}KET_THUC_TACH_FILE{% endcomment %}
                </div>
                <div class="d:flex fld:column jc:center p:15px pt:0!">
                  <div style="order:{{ section.settings["VEDA_flexOrder_2"] }}">
                    <div>
                      {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                      <div class="{{ 'product-content-price-js d:inline-flex mt:5px' }}">
                        {% if productItem.selected_or_first_available_variant.compare_at_price
                            > productItem.selected_or_first_available_variant.price
                        %}
                          <div class="product-price-on-sale-js {{ _price_class }}">
                            <del
                              class="{{ 'fw:400 ff:font-secondary fz:14px c:color-gray6' }} mr:5px"
                              data-css="{{ section.settings["VEDA_styleBox_14"] }}"
                            >
                              {{ productItem.selected_or_first_available_variant.compare_at_price | money }}
                            </del>
                            <ins
                              class="{{ 'fw:400 ff:font-secondary fz:14px c:color-primary td:none mr:5px' }}"
                              data-css="{{ section.settings["VEDA_styleBox_16"] }}"
                            >
                              {{ productItem.selected_or_first_available_variant.price | money }}
                            </ins>
                          </div>
                          <ins
                            class="{{ 'fw:400 ff:font-secondary fz:14px c:color-primary td:none mr:5px' }} product-price-not-sale-js d:none"
                            data-css="{{ section.settings["VEDA_styleBox_14"] }}"
                          >
                          </ins>
                        {% else %}
                          <div class="product-price-on-sale-js d:none {{ _price_class }}">
                            <del
                              class="{{ 'fw:400 ff:font-secondary fz:14px c:color-gray6' }} mr:5px"
                              data-css="{{ section.settings["VEDA_styleBox_14"] }}"
                            >
                            </del>
                            <ins
                              class="{{ 'fw:400 ff:font-secondary fz:14px c:color-primary td:none mr:5px' }}"
                              data-css="{{ section.settings["VEDA_styleBox_16"] }}"
                            >
                            </ins>
                          </div>
                          <ins
                            class="{{ 'fw:400 ff:font-secondary fz:14px c:color-primary td:none mr:5px' }} product-price-not-sale-js {{ _price_class }}"
                            data-css="{{ section.settings["VEDA_styleBox_14"] }}"
                          >
                            <div data-product-id="{{ productItem.id }}">
                              {{ productItem.selected_or_first_available_variant.price | money }}
                            </div>
                          </ins>
                        {% endif %}
                      </div>
                      {% comment %}KET_THUC_TACH_FILE{% endcomment %}
                    </div>
                  </div>
                  <h3 style="order:{{ section.settings["VEDA_flexOrder_1"] }}">
                    <a
                      class="lines-2 mt:5px fz:14px ff:font-secondary fw:500 c:color-gray9 trs:0.3s"
                      href="{{ productItem.url }}"
                      data-css="{{ section.settings["VEDA_styleBox_12"] }}"
                    >
                      {{ productItem.title }}
                    </a>
                  </h3>
                  <div style="order:{{ section.settings["VEDA_flexOrder_3"] }}">
                    <div
                      class="d:flex ai:center mt:5px"
                      {% if section.settings.product_settings___align == 'center' %}
                        style="justify-content: center"
                      {% elsif section.settings.product_settings___align == 'right' %}
                        style="justify-content: flex-end"
                      {% endif %}
                    >
                      {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                      {% liquid
                        assign productDate = productItem.published_at | date: '%s'

                        assign currentDate = 'now' | date: '%s'

                        assign difference = currentDate | minus: productDate | divided_by: 86400.0
                      %}
                      {% if section.settings.new___enable %}
                        {% if difference < 10 %}
                          <div
                            {% if 'p:2px_5px bdrs:3px bgc:#daf5e9 c:#17c478 lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase c:color-light-freeze mb:4px mr:4px' %}
                              class="w:fit-content {{ 'p:2px_5px bdrs:3px bgc:#daf5e9 c:#17c478 lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase c:color-light-freeze mb:4px mr:4px' }}"
                            {% else %}
                              class="p:5px_10px bdrs:3px bgc:#17c478 lh:normal fz:10px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze mb:5px w:fit-content"
                            {% endif %}
                            {% if 'new' %}
                              component="{{ 'new' }}"
                            {% endif %}
                            data-css="{{ section.settings["new___design__id"] }}"
                          >
                            {{ 'veda.products.product.new' | t }}
                          </div>
                        {% endif %}
                      {% endif %}
                      {% comment %}KET_THUC_TACH_FILE{% endcomment %}
                      {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                      {% if productItem.compare_at_price > productItem.price and section.settings.sale___enable %}
                        <div
                          {% if 'p:2px_5px bdrs:3px bgc:#ffe7e7 c:#eb4747 lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase c:color-light-freeze mb:4px mr:4px' %}
                            class="w:fit-content {{ 'p:2px_5px bdrs:3px bgc:#ffe7e7 c:#eb4747 lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase c:color-light-freeze mb:4px mr:4px' }}"
                          {% else %}
                            class="p:5px_10px bdrs:3px bgc:#eb4747 lh:normal fz:10px ff:font-secondary tt:uppercase lts:1px c:color-light-freeze w:fit-content"
                          {% endif %}
                          {% if 'sale' %}
                            component="{{ 'sale' }}"
                          {% endif %}
                          data-css="{{ section.settings["sale___design__id"] }}"
                        >
                          {{ 'veda.products.product.on_sale' | t }}
                        </div>
                      {% endif %}
                      {% comment %}KET_THUC_TACH_FILE{% endcomment %}
                      {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                      {% if section.settings.VEDA_switch_6 %}
                        {% liquid
                          assign available = false

                          assign variant = productItem.selected_or_first_available_variant

                          if variant.available
                            assign available = true
                          endif
                        %}
                        {% if available %}
                          <span
                            data-css="{{ section.settings["VEDA_styleBox_18"] }}"
                            data-instock="{{ section.settings["VEDA_styleBox_17"] }}"
                            data-outofstock="{{ section.settings["VEDA_styleBox_19"] }}"
                            {% if _instock_class %}
                              class="{{ _instock_class }}"
                            {% else %}
                              class="p:2px_5px bdrs:3px bgc:#ddf1e9 c:#599078 lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase c:color-light-freeze mb:4px mr:4px"
                            {% endif %}
                          >
                            <span class="available-product-js">{{ 'veda.products.product.instock' | t }}</span>
                          </span>
                        {% else %}
                          <span
                            data-css="{{ section.settings["VEDA_styleBox_20"] }}"
                            data-instock="{{ section.settings["VEDA_styleBox_17"] }}"
                            data-outofstock="{{ section.settings["VEDA_styleBox_19"] }}"
                            {% if _outofstock_class %}
                              class="{{ _outofstock_class }}"
                            {% else %}
                              class="p:2px_5px bdrs:3px bgc:#ffe7e7 c:#eb4747 lh:normal fz:10px fw:500 ff:font-secondary tt:uppercase c:color-light-freeze mb:4px mr:4px"
                            {% endif %}
                          >
                            <span class="available-product-js">{{ 'veda.products.product.outofstock' | t }}</span>
                          </span>
                        {% endif %}
                      {% endif %}
                      {% comment %}KET_THUC_TACH_FILE{% endcomment %}
                    </div>
                  </div>
                  <div style="order:{{ section.settings["VEDA_flexOrder_4"] }}">
                    {% if section.settings.VEDA_switch_5 %}
                      <div
                        class="product-card-colors-js d:flex ml:-2px mr:-2px mt:8px mt:0|e"
                        {% if section.settings.product_settings___align == 'center' %}
                          style="justify-content:center"
                        {% elsif section.settings.product_settings___align == 'right' %}
                          style="justify-content: flex-end"
                        {% endif %}
                      ></div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% if paginate.pages > 1 and section.settings.pagination___enable %}
        <div class="mt:0! w:100%">
          {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
          {% liquid
            assign item_general_class = 'fz:15px! d:flex! ai:center jc:center ov:hidden trs:0.3s m:5px'

            case section.settings.VEDA_select_4
              when 'square_shadow'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1'
              when 'square_border'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light bd:1px_solid_color-gray3 c:color-gray9 c:color-primary|h'
              when 'square_gray'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-gray3 c:color-gray9 c:color-primary|h'
              when 'circle_shadow'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light c:color-gray9 c:color-primary|h bxsh:0_5px_15px_color-gray9.1 bdrs:50%'
              when 'circle_border'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-light bd:1px_solid_color-gray3 c:color-gray9 c:color-primary|h bdrs:50%'
              when 'circle_gray'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px bgc:color-gray3 c:color-gray9 c:color-primary|h bdrs:50%'
              when 'custom'
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px'
              else
                assign item_variant_class = 'w:fit-content miw:46px h:46px p:0_10px'
            endcase
          %}
          <nav class="w:100% pt:50px m:0!" data-css="{{ section.settings["VEDA_styleBox_37"] }}">
            <ol class="d:flex jc:center ls:none m:0! p:0!">
              {% if paginate.previous %}
                <li>
                  <a
                    class="{{ item_general_class }} {{ item_variant_class }}"
                    aria-label="Previous"
                    href="{{ paginate.previous.url }}"
                    data-css="{{ section.settings["VEDA_styleBox_39"] }}"
                  >
                    <i class="far fa-arrow-left"></i>
                  </a>
                </li>
              {% endif %}
              {% for part in paginate.parts %}
                {% if part.is_link %}
                  <li>
                    <a
                      class="{{ item_general_class }} {{ item_variant_class }}"
                      aria-label="Page {{ part.title }}"
                      href="{{ part.url }}"
                      data-css="{{ section.settings["VEDA_styleBox_39"] }}"
                    >
                      {{ part.title }}
                    </a>
                  </li>
                {% else %}
                  {% if part.title == paginate.current_page %}
                    <li>
                      <span
                        class="{{ item_general_class }} {{ item_variant_class }} bgc:color-primary! c:color-light-freeze!"
                        aria-current="page"
                        aria-label="Page {{ part.title }}"
                        data-css="{{ section.settings["VEDA_styleBox_41"] }}"
                      >
                        {{ part.title }}
                      </span>
                    </li>
                  {% else %}
                    <li>
                      <span
                        class="{{ item_general_class }} {{ item_variant_class }}"
                        aria-label="Page {{ part.title }}"
                        data-css="{{ section.settings["VEDA_styleBox_39"] }}"
                      >
                        {{ part.title }}
                      </span>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if paginate.next %}
                <li>
                  <a
                    class="{{ item_general_class }} {{ item_variant_class }}"
                    aria-label="Next"
                    href="{{ paginate.next.url }}"
                    data-css="{{ section.settings["VEDA_styleBox_39"] }}"
                  >
                    <i class="far fa-arrow-right"></i>
                  </a>
                </li>
              {% endif %}
            </ol>
          </nav>
          {% comment %}KET_THUC_TACH_FILE{% endcomment %}
        </div>
      {% endif %}
    {% endpaginate %}
  </div>
  <div
    {% if section.settings.VEDA_radioGroup_1 == 'left' %}
      class="w:0 w:40%@sm w:35%@md w:25%@lg pr:20px@sm"
    {% else %}
      class="w:0 w:40%@sm w:35%@md w:25%@lg pl:20px@sm"
    {% endif %}
  >
    {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
    <div
      class="sidebar pos:sticky t:60px z:99@+sm sidebar-js"
      data-quantity="{{ section.settings["bundle___quantity"] }}"
      data-image-radius="{{ section.settings["VEDA_slider_9"] }}"
      data-item-design="{{ section.settings["VEDA_styleBox_33"] }}"
      data-name-design="{{ section.settings["VEDA_styleBox_30"] }}"
      data-option-design="{{ section.settings["VEDA_styleBox_31"] }}"
    >
      <div
        class="inner-wrapper-sticky w:100% bgc:color-gray9 bdrs:6px pos:fixed!@+sm w:100%!@+sm t:auto!@+sm l:0px!@+sm b:0px!@+sm z:99"
        data-css="{{ section.settings["VEDA_styleBox_35"] }}"
        component="{{ 'bundle' }}"
      >
        <div class="product-bundle-header d:flex jc:space-between ai:center p:15px p:25px@sm">
          <h4 class="c:color-light" data-css="{{ section.settings["VEDA_styleBox_29"] }}">
            {{ section.settings.bundle___title }}
          </h4>
          <span class="fz:18px c:color-light">
            <i class="far fa-plus d:none@sm"></i>
            <i class="far fa-minus d:none d:none@sm"></i>
          </span>
        </div>
        <div class="product-bundle-wrapper-content p:0_25px_25px_25px@sm p:0_15px_15px_15px d:block!@sm d:none">
          <div class="product-bundle-content"></div>
          <div>
            <div
              class="product-cart-add-js mt:20px w:100% flx:1 h:100% p:15px pos:relative fz:14px ff:font-secondary ta:center bgc:color-light c:color-gray9 trs:0.3s c:color-primary|h d:flex ai:center jc:center cur:pointer op:0.4 pe:none bdrs:6px"
              data-css="{{ section.settings["add_to_cart___design__id"] }}"
            >
              <div class="product-cart-add-icon-js mr:10px"><i class="far fa-shopping-cart"></i></div>
              {{ 'veda.products.product.add_to_cart' | t }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %}KET_THUC_TACH_FILE{% endcomment %}
  </div>
{% endcapture %}

<section
  data-id="{{ uniqueId }}"
  class="veda-lazyload pos:relative z:9 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}{{ sectionSeparator }}"
>
  <div
    class="{{ containerType }}"
    {% if section.settings.VEDA_slider_1
      or section.settings.VEDA_slider_1 == 0
      or section.settings.section_settings___width
      or section.settings.section_settings___width == 0
    %}
      style="{{ containerGap }}{{ containerWidth }}"
    {% endif %}
  >
    <div class="row mt:0!">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt:0!">
        <div class="pos:relative d:flex ai:center jc:space-between">
          {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
          <div class="d:flex fld:column w:100%">
            {% for block in section.blocks %}
              {% assign heading_item = block.settings %}

              {% if heading_item.heading___enable %}
                {% liquid
                  assign align = heading_item.heading___align

                  if heading_item.heading___align == 'left'
                    assign align = 'start'
                  elsif heading_item.heading___align == 'right'
                    assign align = 'end'
                  endif
                %}
                {% capture attr %}
                  data-css="{{ heading_item.VEDA_styleBox_2 }}" class="fw:500" style="text-align: {{ align }}"
                {% endcapture %}
                {% case block.type %}
                  {% when 'heading_title' %}
                    {% if heading_item.heading___title_tag_name == 'h2' %}
                      <h2 {{ attr }}>{{ heading_item.heading___title }}</h2>
                    {% elsif heading_item.heading___title_tag_name == 'h3' %}
                      <h3 {{ attr }}>{{ heading_item.heading___title }}</h3>
                    {% elsif heading_item.heading___title_tag_name == 'h4' %}
                      <h4 {{ attr }}>{{ heading_item.heading___title }}</h4>
                    {% elsif heading_item.heading___title_tag_name == 'h5' %}
                      <h5 {{ attr }}>{{ heading_item.heading___title }}</h5>
                    {% elsif heading_item.heading___title_tag_name == 'h6' %}
                      <h6 {{ attr }}>{{ heading_item.heading___title }}</h6>
                    {% endif %}
                  {% when 'heading_text' %}
                    <div
                      data-css="{{ heading_item.VEDA_styleBox_4 }}"
                      style="text-align: {{ align }}"
                      class="fz:16px"
                    >
                      {{ heading_item.heading___text }}
                    </div>
                  {% when 'heading_icon' %}
                    <div
                      data-css="{{ heading_item.VEDA_styleBox_6 }}"
                      {% if heading_item.heading___align == 'left' %}
                        style="text-align: start"
                      {% elsif heading_item.heading___align == 'center' %}
                        style="text-align: {{ heading_item.heading___align }}; margin-left: auto; margin-right: auto"
                      {% elsif heading_item.heading___align == 'right' %}
                        style="text-align: end; margin-left: auto; margin-right: 0"
                      {% endif %}
                      class="fz:34px"
                    >
                      {{ heading_item.heading___icon }}
                    </div>
                  {% when 'heading_space' %}
                    <div style="height: {{ heading_item.heading___space }}px"></div>
                  {% when 'link' %}
                    <a
                      href="{{ heading_item.link }}"
                      class="ff:font-secondary fz:16px fw:500 c:color-gray9 c:color-gray9|h! td:underline"
                      data-css="{{ heading_item.link_design.id }}"
                      style="text-align: {{ align }}"
                    >
                      {{ heading_item.text_link }}
                    </a>
                  {% when 'heading_divider' %}
                    {% assign headingDividerPadding = 'padding-top: '
                      | append: heading_item.VEDA_space_8
                      | append: 'px;padding-right: '
                      | append: heading_item.VEDA_space_7
                      | append: 'px;padding-bottom: '
                      | append: heading_item.VEDA_space_5
                      | append: 'px;padding-left: '
                      | append: heading_item.VEDA_space_6
                      | append: 'px;'
                    %}
                    <div
                      class="pt:20px fz:0"
                      style="text-align: {{ align }};{{ headingDividerPadding }}"
                    >
                      {% if heading_item.heading___divider == 'wave' %}
                        <div class="d:inline-block">
                          <svg
                            width="56px"
                            height="7px"
                            viewBox="0 0 56 7"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="none"
                          >
                            <g transform="translate(-288.000000, -4390.000000)" class="stk:color-gray3" style="stroke: {{ heading_item.heading___divider_color }}">
                                <g transform="translate(135.000000, 4033.000000)">
                                    <g transform="translate(0.000000, 48.000000)">
                                        <g transform="translate(153.000000, 310.000000)">
                                            <path d="M0,0 C4.64733427,0 4.65894638,2 9.33333333,2 C14.0077203,2 13.9400367,0 18.6666667,0 C23.3932966,0 23.3301172,2 28,2 C32.6698828,2 32.6447946,0 37.3333333,0 C42.0218721,0 41.9540981,2 46.6666667,2 C51.3792353,2 51.3554302,0 56,0"></path>
                                            <path d="M0,3 C4.64733427,3 4.65894638,5 9.33333333,5 C14.0077203,5 13.9400367,3 18.6666667,3 C23.3932966,3 23.3301172,5 28,5 C32.6698828,5 32.6447946,3 37.3333333,3 C42.0218721,3 41.9540981,5 46.6666667,5 C51.3792353,5 51.3554302,3 56,3"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% elsif heading_item.heading___divider == 'mountain' %}
                        <div class="d:inline-block">
                          <svg
                            width="60px"
                            height="9px"
                            viewBox="0 0 60 9"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-3.000000, -47.000000)" stroke-width="2" class="stk:color-gray3" style="stroke: {{ heading_item.heading___divider_color }}">
                                    <g transform="translate(0.000000, 45.000000)">
                                        <polyline points="4 9 9.8 4 15.6 9 21.4 4 27.2 9 33 4 38.8 9 44.6 4 50.4 9 56.2 4 62 9"></polyline>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% else %}
                        <div
                          class="d:inline-block! w:50px h:2px bgc:color-gray3"
                          style="background-color: {{ heading_item.heading___divider_color }}"
                        ></div>
                      {% endif %}
                    </div>
                  {% else %}

                {% endcase %}
              {% endif %}
            {% endfor %}
          </div>
          {% comment %}KET_THUC_TACH_FILE{% endcomment %}
          <div class="d:flex jc:center ai:center"></div>
        </div>
      </div>
      <div
        {% if section.settings.VEDA_radioGroup_1 == 'left' %}
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt:0! d:flex fld:row-reverse"
        {% else %}
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt:0! d:flex"
        {% endif %}
      >
        {{ Content }}
      </div>
    </div>
  </div>
  {% if section.settings.VEDA_select_2 == 'video' and section.settings.VEDA_video_1 %}
    <div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
  {% endif %}
  {% if section.settings.VEDA_switch_2 %}
    <div
      class="pos:absolute ins:0 z:-1"
      style="background-color: {{ section.settings["VEDA_color_2"] }};backdrop-filter: blur({{ section.settings["VEDA_slider_3"] }}px)"
    ></div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Product Bundle Sale 4",
  "blocks": [
    {
      "type": "heading_title",
      "name": "Heading > Title",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Title",
          "id": "heading___title",
          "type": "liquid",
          "default": "This is a title"
        },
        {
          "label": "Heading > Tag Name",
          "id": "heading___title_tag_name",
          "type": "select",
          "default": "h2",
          "options": [
            {
              "label": "H2",
              "value": "h2"
            },
            {
              "label": "H3",
              "value": "h3"
            },
            {
              "label": "H4",
              "value": "h4"
            },
            {
              "label": "H5",
              "value": "h5"
            },
            {
              "label": "H6",
              "value": "h6"
            }
          ]
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_1",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_2",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Id"
        }
      ]
    },
    {
      "type": "heading_text",
      "name": "Heading > Text",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Text",
          "id": "heading___text",
          "type": "liquid",
          "default": "<p>This is a text</p>"
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_3",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_4",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Id"
        }
      ]
    },
    {
      "type": "heading_divider",
      "name": "Heading > Divider",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Divider",
          "id": "heading___divider",
          "type": "select",
          "default": "line",
          "options": [
            {
              "label": "Line",
              "value": "line"
            },
            {
              "label": "Wave",
              "value": "wave"
            },
            {
              "label": "Mountain",
              "value": "mountain"
            }
          ]
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "label": "Heading > Color",
          "id": "heading___divider_color",
          "type": "text"
        },
        {
          "type": "number",
          "id": "VEDA_space_5",
          "label": "Heading > Padding > Bottom"
        },
        {
          "type": "number",
          "id": "VEDA_space_6",
          "label": "Heading > Padding > Left"
        },
        {
          "type": "number",
          "id": "VEDA_space_7",
          "label": "Heading > Padding > Right"
        },
        {
          "type": "number",
          "id": "VEDA_space_8",
          "label": "Heading > Padding > Top"
        }
      ]
    },
    {
      "type": "heading_icon",
      "name": "Heading > Icon",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Icon",
          "info": "[Get icon](https://fontawesome.com/v5/search)",
          "id": "heading___icon",
          "type": "html",
          "default": "<i class=\"far fa-atom\"></i>"
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_5",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_6",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Id"
        }
      ]
    },
    {
      "type": "heading_space",
      "name": "Heading > Space",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Space",
          "id": "heading___space",
          "type": "number",
          "default": 20
        }
      ]
    }
  ],
  "settings": [
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_1",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    },
    {
      "label": "Section Settings > Width",
      "id": "section_settings___width",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_1",
      "type": "number"
    },
    {
      "label": "Section Settings > Column Gap",
      "id": "VEDA_slider_2",
      "type": "number"
    },
    {
      "label": "Section Settings > Background Type",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "none",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Color",
          "value": "color"
        },
        {
          "label": "Video",
          "value": "video"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "number",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "VEDA_image_2",
      "label": "Background Image"
    },
    {
      "type": "number",
      "id": "VEDA_image_3",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Background Color",
      "id": "VEDA_color_1",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Video",
      "id": "VEDA_video_1",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Fixed",
      "id": "VEDA_switch_1",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Size",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "label": "Section Settings > Enable Background Overlay",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Overlay Color",
      "id": "VEDA_color_2",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Overlay Blur",
      "id": "VEDA_slider_3",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Separator",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Separator Top",
      "id": "VEDA_slider_4",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Bottom",
      "id": "VEDA_slider_5",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Color",
      "id": "VEDA_color_3",
      "type": "text",
      "default": "var(--color-gray2)"
    },
    {
      "type": "number",
      "default": 50,
      "id": "VEDA_space_1",
      "label": "Section Settings > Padding > Bottom"
    },
    {
      "type": "number",
      "id": "VEDA_space_2",
      "label": "Section Settings > Padding > Left"
    },
    {
      "type": "number",
      "id": "VEDA_space_3",
      "label": "Section Settings > Padding > Right"
    },
    {
      "type": "number",
      "default": 50,
      "id": "VEDA_space_4",
      "label": "Section Settings > Padding > Top"
    },
    {
      "type": "paragraph",
      "content": "Read [this doc](https://help.vedabuilder.com/en/article/create-discounts-for-product-bundle-section-1mwzr7t/?bust=1678243902543) to setup Product Bundle easily"
    },
    {
      "label": "Product Settings > Collection",
      "id": "VEDA_collectionPicker_1",
      "type": "collection"
    },
    {
      "label": "Product Settings > Limit",
      "id": "product_settings___limit",
      "type": "number",
      "default": 8
    },
    {
      "label": "Product Settings > Align",
      "id": "product_settings___align",
      "type": "radio",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "label": "Product Settings > Enable Vendor",
      "id": "VEDA_switch_4",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Product Settings > Enable Color",
      "id": "VEDA_switch_5",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Product Settings > Design"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_7",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Content > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_8",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Content > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_9",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Vendor > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_10",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Vendor > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_11",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Name > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_12",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Name > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_13",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Regular Price > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_14",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Regular Price > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_15",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Sale Price > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_16",
      "info": "Please DON'T edit this field.",
      "label": "Product Settings > Sale Price > Id"
    },
    {
      "type": "text",
      "default": "0",
      "id": "VEDA_flexOrder_1",
      "label": "Product Settings > Sortable > Name"
    },
    {
      "type": "text",
      "default": "1",
      "id": "VEDA_flexOrder_2",
      "label": "Product Settings > Sortable > Price"
    },
    {
      "type": "text",
      "default": "2",
      "id": "VEDA_flexOrder_3",
      "label": "Product Settings > Sortable > Available"
    },
    {
      "type": "text",
      "default": "3",
      "id": "VEDA_flexOrder_4",
      "label": "Product Settings > Sortable > Color"
    },
    {
      "type": "header",
      "content": "Product Settings > Image"
    },
    {
      "label": "Product Settings > Space",
      "id": "VEDA_slider_6",
      "type": "number"
    },
    {
      "label": "Product Settings > Aspect Ratio",
      "id": "VEDA_slider_7",
      "type": "number"
    },
    {
      "label": "Product Settings > Image Border Radius",
      "id": "VEDA_slider_8",
      "type": "number"
    },
    {
      "label": "Sale > Enable",
      "id": "sale___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "text",
      "id": "sale___design__css",
      "info": "Please DON'T edit this field.",
      "label": "Sale > Design > Css"
    },
    {
      "type": "text",
      "id": "sale___design__id",
      "info": "Please DON'T edit this field.",
      "label": "Sale > Design > Id"
    },
    {
      "label": "New > Enable",
      "id": "new___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "text",
      "id": "new___design__css",
      "info": "Please DON'T edit this field.",
      "label": "New > Design > Css"
    },
    {
      "type": "text",
      "id": "new___design__id",
      "info": "Please DON'T edit this field.",
      "label": "New > Design > Id"
    },
    {
      "label": "Available > Enable",
      "id": "VEDA_switch_6",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_17",
      "info": "Please DON'T edit this field.",
      "label": "Available > In Stock > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_18",
      "info": "Please DON'T edit this field.",
      "label": "Available > In Stock > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_19",
      "info": "Please DON'T edit this field.",
      "label": "Available > Out of Stock > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_20",
      "info": "Please DON'T edit this field.",
      "label": "Available > Out of Stock > Id"
    },
    {
      "label": "Quick View Action > Enable",
      "id": "quick_view___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "text",
      "id": "quick_view___design__css",
      "info": "Please DON'T edit this field.",
      "label": "Quick View Action > Design > Css"
    },
    {
      "type": "text",
      "id": "quick_view___design__id",
      "info": "Please DON'T edit this field.",
      "label": "Quick View Action > Design > Id"
    },
    {
      "label": "Wishlist Action > Enable",
      "id": "VEDA_switch_7",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_21",
      "info": "Please DON'T edit this field.",
      "label": "Wishlist Action > Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_22",
      "info": "Please DON'T edit this field.",
      "label": "Wishlist Action > Design > Id"
    },
    {
      "label": "Compare Action > Enable",
      "id": "compare_action___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_23",
      "info": "Please DON'T edit this field.",
      "label": "Compare Action > Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_24",
      "info": "Please DON'T edit this field.",
      "label": "Compare Action > Design > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_25",
      "info": "Please DON'T edit this field.",
      "label": "Add To Cart Action > Design > Css"
    },
    {
      "type": "text",
      "id": "add_to_cart___design__id",
      "info": "Please DON'T edit this field.",
      "label": "Add To Cart Action > Design > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_26",
      "info": "Please DON'T edit this field.",
      "label": "Add To Bundle > Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_27",
      "info": "Please DON'T edit this field.",
      "label": "Add To Bundle > Design > Id"
    },
    {
      "label": "Bundle > Quantity",
      "id": "bundle___quantity",
      "type": "number",
      "default": 3
    },
    {
      "label": "Bundle > Title",
      "id": "bundle___title",
      "type": "liquid",
      "default": "Bundle contents"
    },
    {
      "type": "header",
      "content": "Bundle > Design"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_28",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Title > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_29",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Title > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_30",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Name > Css"
    },
    {
      "type": "text",
      "id": "bundle___name_design__id",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Name > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_31",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Options > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_32",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Options > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_33",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Item > Css"
    },
    {
      "type": "text",
      "id": "bundle___item_design__id",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Item > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_34",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Content > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_35",
      "info": "Please DON'T edit this field.",
      "label": "Bundle > Content > Id"
    },
    {
      "label": "Bundle > Image Border Radius",
      "id": "VEDA_slider_9",
      "type": "number"
    },
    {
      "label": "Pagination > Enable",
      "id": "pagination___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Pagination > Item Variant",
      "id": "VEDA_select_4",
      "type": "select",
      "default": "circle_border",
      "options": [
        {
          "label": "Custom",
          "value": "custom"
        },
        {
          "label": "Square Shadow",
          "value": "square_shadow"
        },
        {
          "label": "Square Border",
          "value": "square_border"
        },
        {
          "label": "Square Gray",
          "value": "square_gray"
        },
        {
          "label": "Circle Shadow",
          "value": "circle_shadow"
        },
        {
          "label": "Circle Border",
          "value": "circle_border"
        },
        {
          "label": "Circle Gray",
          "value": "circle_gray"
        }
      ]
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_36",
      "info": "Please DON'T edit this field.",
      "label": "Pagination > Container Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_37",
      "info": "Please DON'T edit this field.",
      "label": "Pagination > Container Design > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_38",
      "info": "Please DON'T edit this field.",
      "label": "Pagination > Item Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_39",
      "info": "Please DON'T edit this field.",
      "label": "Pagination > Item Design > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_40",
      "info": "Please DON'T edit this field.",
      "label": "Pagination > Active Item Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_41",
      "info": "Please DON'T edit this field.",
      "label": "Pagination > Active Item Design > Id"
    },
    {
      "type": "number",
      "default": 4,
      "id": "VEDA_responsive_1",
      "label": "Responsive > Content Item > Large"
    },
    {
      "type": "number",
      "default": 3,
      "id": "VEDA_responsive_2",
      "label": "Responsive > Content Item > Medium"
    },
    {
      "type": "number",
      "default": 2,
      "id": "VEDA_responsive_3",
      "label": "Responsive > Content Item > Small"
    },
    {
      "type": "number",
      "default": 1,
      "id": "VEDA_responsive_4",
      "label": "Responsive > Content Item > Extra small"
    },
    {
      "label": "Responsive > Sidebar Position",
      "id": "VEDA_radioGroup_1",
      "type": "radio",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    }
  ],
  "tag": "div"
}
{% endschema %}
