{% assign uniqueId = 'id_f22333dd-a922-4a7f-ab6d-a3d51bdf6bdf' %}
{% assign builderMode = false %}
{% assign envatoMode = false %}
{% liquid
  if section.settings.VEDA_switch_1
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if section.settings.VEDA_select_2 == 'color'
    assign backgroundColor = 'background-color: ' | append: section.settings.VEDA_color_1 | append: ';'
  else
    assign backgroundColor = ''
  endif

  if section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_2
    assign bgImage = section.settings.VEDA_image_2 | append: '&width=2000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_3 | append: ';'
  elsif section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_2 == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_3 | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: section.settings.VEDA_space_4 | append: 'px;padding-right: ' | append: section.settings.VEDA_space_3 | append: 'px;padding-bottom: ' | append: section.settings.VEDA_space_1 | append: 'px;padding-left: ' | append: section.settings.VEDA_space_2 | append: 'px;'

  if section.settings.VEDA_select_1 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif

  if section.settings.VEDA_slider_1 >= 0
    assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_1 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_1 | append: 'px;'
  else
    assign containerGap = ''
  endif

  if section.settings.section_settings___width >= 0
    assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
  else
    assign containerWidth = ''
  endif

  if section.settings.VEDA_slider_2 >= 0
    assign settingGap = section.settings.VEDA_slider_2 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_2
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if section.settings.VEDA_switch_3
    if section.settings.VEDA_slider_4
      assign sectionSeparator = sectionSeparator | append: 'border-top: ' | append: section.settings.VEDA_slider_4 | append: 'px solid ' | append: section.settings.VEDA_color_3 | append: ';'
    endif

    if section.settings.VEDA_slider_5
      assign sectionSeparator = sectionSeparator | append: 'border-bottom: ' | append: section.settings.VEDA_slider_5 | append: 'px solid ' | append: section.settings.VEDA_color_3 | append: ';'
    endif
  endif

  if colGap and rowGap and builderMode and envatoMode
  endif
%}

{% liquid
  assign _component = false
%}
{% capture Subscribe %}
  <div class="maw:700px m:auto ta:center">
    {% if section.settings.icon___enable %}
      <div
        data-css="{{ section.settings["icon___design__id"] }}"
        {% if section.settings.appearance == 'light' %}
          class="fz:pfs(40px,60px) c:color-light-freeze mb:20px"
        {% else %}
          class="fz:pfs(40px,60px) c:color-gray9-freeze mb:20px"
        {% endif %}
      >
        {{ section.settings.icon___icon }}
      </div>
    {% endif %}
    {% if section.settings.title___title %}
      <h3
        {% if section.settings.appearance == 'light' %}
          class="c:color-light-freeze fz:pfs(24px,38px) fw:400 ff:font-secondary"
        {% else %}
          class="c:color-gray9-freeze fz:pfs(24px,38px) fw:400 ff:font-secondary"
        {% endif %}
        data-css="{{ section.settings["title___design__id"] }}"
      >
        {{ section.settings.title___title }}
      </h3>
    {% endif %}
    {% if section.settings.description___text %}
      <div
        {% if section.settings.appearance == 'light' %}
          class="mt:pfs(15px,20px) fz:pfs(14px,16px) c:color-light-freeze.7"
        {% else %}
          class="mt:pfs(15px,20px) fz:pfs(14px,16px) c:color-gray8-freeze"
        {% endif %}
        data-css="{{ section.settings["description___design__id"] }}"
      >
        {{ section.settings.description___text }}
      </div>
    {% endif %}
    <div
      data-css="{{ section.settings["VEDA_styleBox_3"] }}"
      class="mt:pfs(20px,30px) w:100% maw:400px d:inline-block"
    >
      {% form 'customer' %}
        {% if builderMode and _test %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-error.1 c:color-error ls:none*ul p:0*ul m:0*ul">
            <span><i class="far fa-exclamation-circle mr:10px"></i></span>
            <div class="errors">Form error placeholder</div>
          </div>
        {% elsif form.errors %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-error.1 c:color-error ls:none*ul p:0*ul m:0*ul">
            <span><i class="far fa-exclamation-circle mr:10px"></i></span>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        {% if builderMode and _test %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-success.1 c:color-success">
            <span><i class="far fa-check-circle mr:10px"></i></span>
            <div>{{ 'veda.newsletter.success' | t }}</div>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="d:flex ai:center fz:14px p:10px m:10px_0 bgc:color-success.1 c:color-success">
            <span><i class="far fa-check-circle mr:10px"></i></span>
            <div>{{ 'veda.newsletter.success' | t }}</div>
          </div>
        {% endif %}

        <div class="d:flex w:100% h:52px bdrs:6px ov:hidden c:color-gray9 bd:none bgc:transparent">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input
            class="w:100% h:100%! p:0_15px! bgc:color-light c:color-gray7 c:color-gray6||ph fz:16px fz:16px||ph ff:font-primary! bd:none"
            type="email"
            name="contact[email]"
            autocorrect="off"
            autocapitalize="off"
            placeholder="{{ 'veda.templates.contact.form.email' | t }}"
            data-css="{{ section.settings["VEDA_styleBox_5"] }}"
          >
          <button
            class="d:inline-flex ai:center p:0_20px h:100% ff:font-secondary fz:16px fw:500 trs:0.3s cur:pointer bgc:color-primary c:color-light-freeze bgc:color-primary|h c:color-light-freeze|h bd:0!"
            type="submit"
            aria-label="submit"
            data-css="{{ section.settings["VEDA_styleBox_7"] }}"
          >
            {% if section.settings.VEDA_select_4 == 'left' %}
              <span class="mr:10px" data-css="{{ section.settings["VEDA_styleBox_9"] }}">
                {{ section.settings.subscribe_form___icon }}
              </span>
            {% endif %}
            <span>{{ 'veda.templates.contact.form.send' | t }}</span>
            {% if section.settings.VEDA_select_4 == 'right' %}
              <span class="ml:10px" data-css="{{ section.settings["VEDA_styleBox_9"] }}">
                {{ section.settings.subscribe_form___icon }}
              </span>
            {% endif %}
          </button>
        </div>
      {% endform %}
    </div>
  </div>
{% endcapture %}

<section
  data-id="{{ uniqueId }}"
  class="veda-lazyload pos:relative z:1 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}{{ sectionSeparator }}"
>
  <div
    class="{{ containerType }}"
    {% if section.settings.VEDA_slider_1
      or section.settings.VEDA_slider_1 == 0
      or section.settings.section_settings___width
      or section.settings.section_settings___width == 0
    %}
      style="{{ containerGap }}{{ containerWidth }}"
    {% endif %}
  >
    {{ Subscribe }}
  </div>
  {% if section.settings.VEDA_select_2 == 'video' and section.settings.VEDA_video_1 %}
    <div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
  {% endif %}
  {% if section.settings.VEDA_switch_2 %}
    <div
      class="pos:absolute ins:0 z:-1"
      style="background-color: {{ section.settings["VEDA_color_2"] }};backdrop-filter: blur({{ section.settings["VEDA_slider_3"] }}px)"
    ></div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Subscribe 4",
  "blocks": [],
  "settings": [
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_1",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    },
    {
      "label": "Section Settings > Width",
      "id": "section_settings___width",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_1",
      "type": "number"
    },
    {
      "label": "Section Settings > Column Gap",
      "id": "VEDA_slider_2",
      "type": "number"
    },
    {
      "label": "Section Settings > Background Type",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "none",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Color",
          "value": "color"
        },
        {
          "label": "Video",
          "value": "video"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "number",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "VEDA_image_2",
      "label": "Background Image"
    },
    {
      "type": "number",
      "id": "VEDA_image_3",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Background Color",
      "id": "VEDA_color_1",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Video",
      "id": "VEDA_video_1",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Fixed",
      "id": "VEDA_switch_1",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Size",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "label": "Section Settings > Enable Background Overlay",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Overlay Color",
      "id": "VEDA_color_2",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Overlay Blur",
      "id": "VEDA_slider_3",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Separator",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Separator Top",
      "id": "VEDA_slider_4",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Bottom",
      "id": "VEDA_slider_5",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Color",
      "id": "VEDA_color_3",
      "type": "text",
      "default": "var(--color-gray2)"
    },
    {
      "type": "number",
      "default": 50,
      "id": "VEDA_space_1",
      "label": "Section Settings > Padding > Bottom"
    },
    {
      "type": "number",
      "id": "VEDA_space_2",
      "label": "Section Settings > Padding > Left"
    },
    {
      "type": "number",
      "id": "VEDA_space_3",
      "label": "Section Settings > Padding > Right"
    },
    {
      "type": "number",
      "default": 50,
      "id": "VEDA_space_4",
      "label": "Section Settings > Padding > Top"
    },
    {
      "label": "Icon > Enable",
      "id": "icon___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "Icon > Icon",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "icon___icon",
      "type": "html",
      "default": "<i class=\"fal fa-paper-plane\"></i>"
    },
    {
      "type": "text",
      "id": "icon___design__css",
      "info": "Please DON'T edit this field.",
      "label": "Icon > Design > Css"
    },
    {
      "type": "text",
      "id": "icon___design__id",
      "info": "Please DON'T edit this field.",
      "label": "Icon > Design > Id"
    },
    {
      "label": "Title > Title",
      "id": "title___title",
      "type": "liquid",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "id": "title___design__css",
      "info": "Please DON'T edit this field.",
      "label": "Title > Design > Css"
    },
    {
      "type": "text",
      "id": "title___design__id",
      "info": "Please DON'T edit this field.",
      "label": "Title > Design > Id"
    },
    {
      "label": "Description > Text",
      "id": "description___text",
      "type": "liquid",
      "default": "<p>Subscribe to our newsletter and get 10% off your first purchase</p>"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_1",
      "info": "Please DON'T edit this field.",
      "label": "Description > Design > Css"
    },
    {
      "type": "text",
      "id": "description___design__id",
      "info": "Please DON'T edit this field.",
      "label": "Description > Design > Id"
    },
    {
      "label": "Subscribe Form > Icon",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "subscribe_form___icon",
      "type": "html",
      "default": "<i class=\"far fa-paper-plane\"></i>"
    },
    {
      "label": "Subscribe Form > Icon Position",
      "id": "VEDA_select_4",
      "type": "select",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Subscribe Form > Design"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_2",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Form > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_3",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Form > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_4",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Input > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_5",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Input > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_6",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Button > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_7",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Button > Id"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_8",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Icon > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_9",
      "info": "Please DON'T edit this field.",
      "label": "Subscribe Form > Icon > Id"
    },
    {
      "label": "Appearance",
      "id": "appearance",
      "type": "select",
      "default": "light",
      "options": [
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        }
      ]
    }
  ],
  "tag": "div"
}
{% endschema %}
