{% assign uniqueId = 'id_798fde1a-747f-4caa-9293-5037dbd898d0' %}
{% assign builderMode = false %}
{% assign envatoMode = false %}
{% liquid
  if section.settings.VEDA_switch_1
    assign backgroundFixed = 'fixed'
  else
    assign backgroundFixed = 'scroll'
  endif

  if section.settings.VEDA_select_2 == 'color'
    assign backgroundColor = 'background-color: ' | append: section.settings.VEDA_color_1 | append: ';'
  else
    assign backgroundColor = ''
  endif

  if section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_2
    assign bgImage = section.settings.VEDA_image_2 | append: '&width=2000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_3 | append: ';'
  elsif section.settings.VEDA_select_2 == 'image' and section.settings.VEDA_image_2 == blank
    assign bgImage = 'https://cdn.shopify.com/s/files/1/0552/5510/5616/files/udxhtnzxtq.png?v=1681903122&width=1000'

    assign backgroundImage = 'background-image: url(' | append: bgImage | append: ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: section.settings.VEDA_select_3 | append: ';'
  else
    assign backgroundImage = ''
  endif

  assign sectionPadding = 'padding-top: ' | append: section.settings.VEDA_space_4 | append: 'px;padding-right: ' | append: section.settings.VEDA_space_3 | append: 'px;padding-bottom: ' | append: section.settings.VEDA_space_1 | append: 'px;padding-left: ' | append: section.settings.VEDA_space_2 | append: 'px;'

  if section.settings.VEDA_select_1 == 'full_width'
    assign containerType = 'container-fluid'
  else
    assign containerType = 'container'
  endif

  if section.settings.VEDA_slider_1 >= 0
    assign containerGap = 'padding-left: ' | append: section.settings.VEDA_slider_1 | append: 'px; padding-right: ' | append: section.settings.VEDA_slider_1 | append: 'px;'
  else
    assign containerGap = ''
  endif

  if section.settings.section_settings___width >= 0
    assign containerWidth = 'max-width: ' | append: section.settings.section_settings___width | append: 'px;'
  else
    assign containerWidth = ''
  endif

  if section.settings.VEDA_slider_2 >= 0
    assign settingGap = section.settings.VEDA_slider_2 | divided_by: 2.0

    assign settingGapVertical = section.settings.VEDA_slider_2
  else
    assign settingGap = ''

    assign settingGapVertical = ''
  endif

  assign colGap = 'margin-top: ' | append: settingGapVertical | append: 'px; padding-left: ' | append: settingGap | append: 'px; padding-right: ' | append: settingGap | append: 'px;'

  assign rowGap = 'margin-top: -' | append: settingGapVertical | append: 'px; margin-left: -' | append: settingGap | append: 'px; margin-right: -' | append: settingGap | append: 'px;'

  assign sectionSeparator = ''

  if section.settings.VEDA_switch_3
    if section.settings.VEDA_slider_4
      assign sectionSeparator = sectionSeparator | append: 'border-top: ' | append: section.settings.VEDA_slider_4 | append: 'px solid ' | append: section.settings.VEDA_color_3 | append: ';'
    endif

    if section.settings.VEDA_slider_5
      assign sectionSeparator = sectionSeparator | append: 'border-bottom: ' | append: section.settings.VEDA_slider_5 | append: 'px solid ' | append: section.settings.VEDA_color_3 | append: ';'
    endif
  endif

  if colGap and rowGap and builderMode and envatoMode
  endif
%}

{% liquid
  assign _style = false

  assign _placeholder = false

  assign _placeholder_class = false

  assign _class = false

  assign _component = false

  assign _default_link = false
%}
{% capture Content %}
  <div
    class="row row-cols-lg-{{ section.settings["VEDA_responsive_1"] }} row-cols-md-{{ section.settings["VEDA_responsive_2"] }} row-cols-sm-{{ section.settings["VEDA_responsive_3"] }} row-cols-{{ section.settings["VEDA_responsive_4"] }}"
    {% if section.settings.VEDA_slider_2 or section.settings.VEDA_slider_2 == 0 %}
      style="{{ rowGap }}"
    {% endif %}
  >
    {% for block in section.blocks %}
      {% if block.type == 'content' %}
        {% assign item = block.settings %}

        {% liquid
          assign aspectRatio = 50

          assign borderRadius = 0

          if item.content___aspect_ratio
            assign aspectRatio = item.content___aspect_ratio
          endif

          if item.content___border_radius
            assign borderRadius = item.content___border_radius
          endif
        %}
        <div
          class="col"
          {% if section.settings.VEDA_slider_2 or section.settings.VEDA_slider_2 == 0 %}
            style="{{ colGap }}"
          {% endif %}
        >
          <div
            class="group* pos:relative z:9 bgc:color-light ov:hidden bgc:color-gray1 ov:hidden d:flex"
            {% if item.content___position == 'center' %}
              style="border-radius: {{ borderRadius }}px; background-color: {{ item.background_color }};justify-content: center;"
            {% elsif item.content___position == 'right' %}
              style="border-radius: {{ borderRadius }}px; background-color: {{ item.background_color }};justify-content: flex-end;"
            {% else %}
              style="border-radius: {{ borderRadius }}px; background-color: {{ item.background_color }}"
            {% endif %}
          >
            <div style="padding-top: calc({{ aspectRatio }} * 1%)"></div>
            <div class="pos:absolute t:0 l:0 w:100% h:100% z:-1">
              {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
              {% if item.content___image__src != blank %}
                <img
                  class="veda-lazyload {{ 'w:100% h:100% obf:cover' }}"
                  src="{{ item.content___image__src | append: '&width=10' }}"
                  draggable="false"
                  {% if item.content___title %}
                    alt="{{ item.content___title }}"
                  {% else %}
                    alt="image"
                  {% endif %}
                  {% if item.content___image__width %}
                    data-intrinsic-width="{{ item.content___image__width }}"
                    width="{{ item.content___image__width }}"
                  {% endif %}
                  {% if item.content___image__height %}
                    height="{{ item.content___image__height }}"
                    data-intrinsic-height="{{ item.content___image__height }}"
                  {% endif %}
                  {% if _style %}
                    style="{{ _style }}"
                  {% endif %}
                  loading="lazy"
                >
              {% else %}
                {% liquid
                  assign pl = 'lifestyle-1'

                  if _placeholder
                    assign pl = _placeholder
                  endif

                  assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: 'w:100% h:100% obf:cover'

                  if _placeholder_class
                    assign placeholder_class = 'veda-placeholder-svg bgc:color-gray2 ' | append: _placeholder_class
                  endif
                %}
                {{ pl | placeholder_svg_tag: placeholder_class }}
              {% endif %}
              {% comment %}KET_THUC_TACH_FILE{% endcomment %}
            </div>
            <div
              class="p:pfs(20px,40px) d:flex fld:column jc:center"
              style="width: {{ item.content___content_width }}%"
            >
              <h4
                class="c:color-gray7 trs:0.3s fw:400 fz:14px tt:uppercase lts:1px mb:10px"
                data-css="{{ item.VEDA_styleBox_8 }}"
              >
                {{ item.content___sub_title }}
              </h4>
              <h3
                class="c:color-gray9 trs:0.3s fw:500 fz:pfs(22px,26px)"
                data-css="{{ item.VEDA_styleBox_10 }}"
              >
                {{ item.content___title }}
              </h3>
              <div
                class="c:color-gray8 trs:0.3s fz:pfs(15px,18px)"
                data-css="{{ item.VEDA_styleBox_12 }}"
              >
                {{ item.content___description }}
              </div>
              <div style="text-align: {{ item.content___align }}">
                {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
                {% liquid
                  if item.content___button_variant == 'link'
                    assign default_class = 'rs d:inline-block td:none lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s '
                  else
                    assign default_class = 'rs d:inline-block td:none lh:1.5 fz:15px ff:font-primary fw:500 trs:0.3s p:13px_20px bd:none bxsh:none o:none cur:pointer '
                  endif

                  assign default_for_bottom_class = ''

                  case item.content___button_variant
                    when 'primary'
                      assign variant_class = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                    when 'secondary'
                      assign variant_class = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
                    when 'dark'
                      assign variant_class = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
                    when 'gray'
                      assign variant_class = ' bgc:color-gray3 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                    when 'light'
                      assign variant_class = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
                    else
                      assign variant_class = ' c:color-gray9 c:color-primary|h'
                  endcase
                %}

                <a
                  component="{{ _component }}"
                  {% if 'd:block p:6px_12px! bdrs:4px fz:13px mt:20px w:fit-content!' %}
                    class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }} {{ 'd:block p:6px_12px! bdrs:4px fz:13px mt:20px w:fit-content!' }}"
                  {% else %}
                    class="{{ default_class }}{{ default_for_bottom_class }}{{ variant_class }}"
                  {% endif %}
                  {% if item.content___new_tab %}
                    target="_blank"
                  {% endif %}
                  data-css="{{ item.VEDA_styleBox_14 }}"
                  href="{{ item.content___button_link }}"
                >
                  {% if item.content___icon_enable and item.content___icon_position == 'left' %}
                    <span
                      class="mr:10px"
                      data-css="{{ item.VEDA_styleBox_16 }}"
                    >
                      {{ item.content___choose_icon }}
                    </span>
                  {% endif %}
                  <span>
                    {{ item.content___button_text }}
                  </span>
                  {% if item.content___icon_enable and item.content___icon_position == 'right' %}
                    <span
                      class="ml:10px"
                      data-css="{{ item.VEDA_styleBox_16 }}"
                    >
                      {{ item.content___choose_icon }}
                    </span>
                  {% endif %}
                </a>
                {% comment %}KET_THUC_TACH_FILE{% endcomment %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endcapture %}

<section
  data-id="{{ uniqueId }}"
  class="veda-lazyload pos:relative z:1 bgz:cover bgp:center"
  style="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}{{ sectionSeparator }}"
>
  <div
    class="{{ containerType }}"
    {% if section.settings.VEDA_slider_1
      or section.settings.VEDA_slider_1 == 0
      or section.settings.section_settings___width
      or section.settings.section_settings___width == 0
    %}
      style="{{ containerGap }}{{ containerWidth }}"
    {% endif %}
  >
    <div
      {% if section.settings.VEDA_radioGroup_2 == 'left' %}
        class="row mt:0!"
      {% else %}
        class="row mt:0! fld:row-reverse"
      {% endif %}
    >
      <div class="col-xs-{{ section.settings["VEDA_responsive_8"] }} col-sm-{{ section.settings["VEDA_responsive_7"] }} col-md-{{ section.settings["VEDA_responsive_6"] }} col-lg-{{ section.settings["VEDA_responsive_5"] }} mt:0!">
        <div
          {% if section.settings.VEDA_responsive_5 == 12 %}
            class="pos:relative d:flex ai:center jc:space-between"
          {% else %}
            class="pos:relative"
          {% endif %}
        >
          {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
          <div class="d:flex fld:column w:100%">
            {% for block in section.blocks %}
              {% assign heading_item = block.settings %}

              {% if heading_item.heading___enable %}
                {% liquid
                  assign align = heading_item.heading___align

                  if heading_item.heading___align == 'left'
                    assign align = 'start'
                  elsif heading_item.heading___align == 'right'
                    assign align = 'end'
                  endif
                %}
                {% capture attr %}
                  data-css="{{ heading_item.VEDA_styleBox_2 }}" class="fw:500" style="text-align: {{ align }}"
                {% endcapture %}
                {% case block.type %}
                  {% when 'heading_title' %}
                    {% if heading_item.heading___title_tag_name == 'h2' %}
                      <h2 {{ attr }}>{{ heading_item.heading___title }}</h2>
                    {% elsif heading_item.heading___title_tag_name == 'h3' %}
                      <h3 {{ attr }}>{{ heading_item.heading___title }}</h3>
                    {% elsif heading_item.heading___title_tag_name == 'h4' %}
                      <h4 {{ attr }}>{{ heading_item.heading___title }}</h4>
                    {% elsif heading_item.heading___title_tag_name == 'h5' %}
                      <h5 {{ attr }}>{{ heading_item.heading___title }}</h5>
                    {% elsif heading_item.heading___title_tag_name == 'h6' %}
                      <h6 {{ attr }}>{{ heading_item.heading___title }}</h6>
                    {% endif %}
                  {% when 'heading_text' %}
                    <div
                      data-css="{{ heading_item.VEDA_styleBox_4 }}"
                      style="text-align: {{ align }}"
                      class="fz:16px"
                    >
                      {{ heading_item.heading___text }}
                    </div>
                  {% when 'heading_icon' %}
                    <div
                      data-css="{{ heading_item.VEDA_styleBox_6 }}"
                      {% if heading_item.heading___align == 'left' %}
                        style="text-align: start"
                      {% elsif heading_item.heading___align == 'center' %}
                        style="text-align: {{ heading_item.heading___align }}; margin-left: auto; margin-right: auto"
                      {% elsif heading_item.heading___align == 'right' %}
                        style="text-align: end; margin-left: auto; margin-right: 0"
                      {% endif %}
                      class="fz:34px"
                    >
                      {{ heading_item.heading___icon }}
                    </div>
                  {% when 'heading_space' %}
                    <div style="height: {{ heading_item.heading___space }}px"></div>
                  {% when 'link' %}
                    <a
                      href="{{ heading_item.link }}"
                      class="ff:font-secondary fz:16px fw:500 c:color-gray9 c:color-gray9|h! td:underline"
                      data-css="{{ heading_item.link_design.id }}"
                      style="text-align: {{ align }}"
                    >
                      {{ heading_item.text_link }}
                    </a>
                  {% when 'heading_divider' %}
                    {% assign headingDividerPadding = 'padding-top: '
                      | append: heading_item.VEDA_space_8
                      | append: 'px;padding-right: '
                      | append: heading_item.VEDA_space_7
                      | append: 'px;padding-bottom: '
                      | append: heading_item.VEDA_space_5
                      | append: 'px;padding-left: '
                      | append: heading_item.VEDA_space_6
                      | append: 'px;'
                    %}
                    <div
                      class="pt:20px fz:0"
                      style="text-align: {{ align }};{{ headingDividerPadding }}"
                    >
                      {% if heading_item.heading___divider == 'wave' %}
                        <div class="d:inline-block">
                          <svg
                            width="56px"
                            height="7px"
                            viewBox="0 0 56 7"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="none"
                          >
                            <g transform="translate(-288.000000, -4390.000000)" class="stk:color-gray3" style="stroke: {{ heading_item.heading___divider_color }}">
                                <g transform="translate(135.000000, 4033.000000)">
                                    <g transform="translate(0.000000, 48.000000)">
                                        <g transform="translate(153.000000, 310.000000)">
                                            <path d="M0,0 C4.64733427,0 4.65894638,2 9.33333333,2 C14.0077203,2 13.9400367,0 18.6666667,0 C23.3932966,0 23.3301172,2 28,2 C32.6698828,2 32.6447946,0 37.3333333,0 C42.0218721,0 41.9540981,2 46.6666667,2 C51.3792353,2 51.3554302,0 56,0"></path>
                                            <path d="M0,3 C4.64733427,3 4.65894638,5 9.33333333,5 C14.0077203,5 13.9400367,3 18.6666667,3 C23.3932966,3 23.3301172,5 28,5 C32.6698828,5 32.6447946,3 37.3333333,3 C42.0218721,3 41.9540981,5 46.6666667,5 C51.3792353,5 51.3554302,3 56,3"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% elsif heading_item.heading___divider == 'mountain' %}
                        <div class="d:inline-block">
                          <svg
                            width="60px"
                            height="9px"
                            viewBox="0 0 60 9"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-3.000000, -47.000000)" stroke-width="2" class="stk:color-gray3" style="stroke: {{ heading_item.heading___divider_color }}">
                                    <g transform="translate(0.000000, 45.000000)">
                                        <polyline points="4 9 9.8 4 15.6 9 21.4 4 27.2 9 33 4 38.8 9 44.6 4 50.4 9 56.2 4 62 9"></polyline>
                                    </g>
                                </g>
                            </g>
                          </svg>
                        </div>
                      {% else %}
                        <div
                          class="d:inline-block! w:50px h:2px bgc:color-gray3"
                          style="background-color: {{ heading_item.heading___divider_color }}"
                        ></div>
                      {% endif %}
                    </div>
                  {% else %}

                {% endcase %}
              {% endif %}
            {% endfor %}
          </div>
          {% comment %}KET_THUC_TACH_FILE{% endcomment %}
          {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
          {% liquid
            if section.settings.VEDA_select_4 == 'link'
              assign defaultClass = ''
            else
              assign defaultClass = ' p:12px_20px bdrs:6px fz:14px'
            endif

            if section.settings.VEDA_select_5 == 'bottom'
              assign defaultForBottomClass = ' mt:30px'
            else
              assign defaultForBottomClass = ''
            endif

            case section.settings.VEDA_select_4
              when 'primary'
                assign variantClass = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
              when 'secondary'
                assign variantClass = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
              when 'dark'
                assign variantClass = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
              when 'gray'
                assign variantClass = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
              when 'light'
                assign variantClass = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
              else
                assign variantClass = ' c:color-gray9 c:color-primary|h'
            endcase

            assign custom_class = ''

            if _class
              assign custom_class = _class
            endif
          %}
          {% capture ViewAllBase %}
            <a
              {% if _component %}
                component="{{ _component }}"
              {% else %}

              {% endif %}
              class="d:inline-flex ai:center ff:font-primary fw:500 trs:0.3s{{ defaultForBottomClass }}{{ defaultClass }}{{ variantClass }} {{ custom_class }}"
              data-css="{{ section.settings["VEDA_styleBox_18"] }}"
              {% if _default_link %}
                href="{{ _default_link }}"
              {% else %}
                href="{{ section.settings["button_view_all___link"] }}"
              {% endif %}
              {% if section.settings.VEDA_switch_4 %}
                target="_blank"
              {% endif %}
            >
              {% if section.settings.VEDA_switch_5 and section.settings.VEDA_radioGroup_1 == 'left' %}
                <span class="mr:10px" data-css="{{ section.settings["VEDA_styleBox_20"] }}">
                  {{ section.settings.VEDA_icon_1 }}
                </span>
              {% endif %}
              <span>
                {{ section.settings.button_view_all___text }}
              </span>
              {% if section.settings.VEDA_switch_5 and section.settings.VEDA_radioGroup_1 == 'right' %}
                <span class="ml:10px" data-css="{{ section.settings["VEDA_styleBox_20"] }}">
                  {{ section.settings.VEDA_icon_1 }}
                </span>
              {% endif %}
            </a>
          {% endcapture %}

          {% capture ViewAllTop %}
            {% if section.settings.button_view_all___enable and section.settings.VEDA_select_5 == 'top' %}
              <div class="d:none@+md flxs:0">
                {{ ViewAllBase }}
              </div>
            {% endif %}
          {% endcapture %}

          {% capture ViewAllBottom %}
            {% if section.settings.button_view_all___enable and section.settings.VEDA_select_5 == 'bottom' %}
              <div style="text-align: {{ section.settings["button_view_all___align"] }}">
                {{ ViewAllBase }}
              </div>
            {% endif %}
            {% if section.settings.button_view_all___enable and section.settings.VEDA_select_5 == 'top' %}
              <div class="d:none@md mt:30px">
                {{ ViewAllBase }}
              </div>
            {% endif %}
          {% endcapture %}

          {% if 'top' == 'top' %}
            {{ ViewAllTop }}
          {% else %}
            {{ ViewAllBottom }}
          {% endif %}
          {% comment %}KET_THUC_TACH_FILE{% endcomment %}
        </div>
      </div>
      {% liquid
        assign contentXs = 12 | minus: section.settings.VEDA_responsive_8

        assign contentSm = 12 | minus: section.settings.VEDA_responsive_7

        assign contentMd = 12 | minus: section.settings.VEDA_responsive_6

        assign contentLg = 12 | minus: section.settings.VEDA_responsive_5
      %}
      <div
        class="col-xs-{{ contentXs }} col-sm-{{ contentSm }} col-md-{{ contentMd }} col-lg-{{ contentLg }} mt:0!"
        {% if section.settings.VEDA_slider_2 or section.settings.VEDA_slider_2 == 0 %}
          style="{{ colGap }}"
        {% endif %}
      >
        {{ Content }}
      </div>
    </div>
    {% comment %}BAT_DAU_TACH_FILE{% endcomment %}
    {% liquid
      if section.settings.VEDA_select_4 == 'link'
        assign defaultClass = ''
      else
        assign defaultClass = ' p:12px_20px bdrs:6px fz:14px'
      endif

      if section.settings.VEDA_select_5 == 'bottom'
        assign defaultForBottomClass = ' mt:30px'
      else
        assign defaultForBottomClass = ''
      endif

      case section.settings.VEDA_select_4
        when 'primary'
          assign variantClass = ' bgc:color-primary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
        when 'secondary'
          assign variantClass = ' bgc:color-secondary c:color-light-freeze bgc:color-gray9|h c:color-light|h'
        when 'dark'
          assign variantClass = ' bgc:color-gray9 c:color-light bgc:color-primary|h c:color-light-freeze|h'
        when 'gray'
          assign variantClass = ' bgc:color-gray2 c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
        when 'light'
          assign variantClass = ' bgc:color-light c:color-gray9 bgc:color-primary|h c:color-light-freeze|h'
        else
          assign variantClass = ' c:color-gray9 c:color-primary|h'
      endcase

      assign custom_class = ''

      if _class
        assign custom_class = _class
      endif
    %}
    {% capture ViewAllBase %}
      <a
        {% if _component %}
          component="{{ _component }}"
        {% else %}

        {% endif %}
        class="d:inline-flex ai:center ff:font-primary fw:500 trs:0.3s{{ defaultForBottomClass }}{{ defaultClass }}{{ variantClass }} {{ custom_class }}"
        data-css="{{ section.settings["VEDA_styleBox_18"] }}"
        {% if _default_link %}
          href="{{ _default_link }}"
        {% else %}
          href="{{ section.settings["button_view_all___link"] }}"
        {% endif %}
        {% if section.settings.VEDA_switch_4 %}
          target="_blank"
        {% endif %}
      >
        {% if section.settings.VEDA_switch_5 and section.settings.VEDA_radioGroup_1 == 'left' %}
          <span class="mr:10px" data-css="{{ section.settings["VEDA_styleBox_20"] }}">
            {{ section.settings.VEDA_icon_1 }}
          </span>
        {% endif %}
        <span>
          {{ section.settings.button_view_all___text }}
        </span>
        {% if section.settings.VEDA_switch_5 and section.settings.VEDA_radioGroup_1 == 'right' %}
          <span class="ml:10px" data-css="{{ section.settings["VEDA_styleBox_20"] }}">
            {{ section.settings.VEDA_icon_1 }}
          </span>
        {% endif %}
      </a>
    {% endcapture %}

    {% capture ViewAllTop %}
      {% if section.settings.button_view_all___enable and section.settings.VEDA_select_5 == 'top' %}
        <div class="d:none@+md flxs:0">
          {{ ViewAllBase }}
        </div>
      {% endif %}
    {% endcapture %}

    {% capture ViewAllBottom %}
      {% if section.settings.button_view_all___enable and section.settings.VEDA_select_5 == 'bottom' %}
        <div style="text-align: {{ section.settings["button_view_all___align"] }}">
          {{ ViewAllBase }}
        </div>
      {% endif %}
      {% if section.settings.button_view_all___enable and section.settings.VEDA_select_5 == 'top' %}
        <div class="d:none@md mt:30px">
          {{ ViewAllBase }}
        </div>
      {% endif %}
    {% endcapture %}

    {% if 'bottom' == 'top' %}
      {{ ViewAllTop }}
    {% else %}
      {{ ViewAllBottom }}
    {% endif %}
    {% comment %}KET_THUC_TACH_FILE{% endcomment %}
  </div>
  {% if section.settings.VEDA_select_2 == 'video' and section.settings.VEDA_video_1 %}
    <div data-veda-video="{{ section.settings["VEDA_video_1"] }}"></div>
  {% endif %}
  {% if section.settings.VEDA_switch_2 %}
    <div
      class="pos:absolute ins:0 z:-1"
      style="background-color: {{ section.settings["VEDA_color_2"] }};backdrop-filter: blur({{ section.settings["VEDA_slider_3"] }}px)"
    ></div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Image With Text 10",
  "blocks": [
    {
      "type": "heading_title",
      "name": "Heading > Title",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Title",
          "id": "heading___title",
          "type": "liquid",
          "default": "This is a title"
        },
        {
          "label": "Heading > Tag Name",
          "id": "heading___title_tag_name",
          "type": "select",
          "default": "h2",
          "options": [
            {
              "label": "H2",
              "value": "h2"
            },
            {
              "label": "H3",
              "value": "h3"
            },
            {
              "label": "H4",
              "value": "h4"
            },
            {
              "label": "H5",
              "value": "h5"
            },
            {
              "label": "H6",
              "value": "h6"
            }
          ]
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_1",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_2",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Id"
        }
      ]
    },
    {
      "type": "heading_text",
      "name": "Heading > Text",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Text",
          "id": "heading___text",
          "type": "liquid",
          "default": "<p>This is a text</p>"
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_3",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_4",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Id"
        }
      ]
    },
    {
      "type": "heading_divider",
      "name": "Heading > Divider",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Divider",
          "id": "heading___divider",
          "type": "select",
          "default": "line",
          "options": [
            {
              "label": "Line",
              "value": "line"
            },
            {
              "label": "Wave",
              "value": "wave"
            },
            {
              "label": "Mountain",
              "value": "mountain"
            }
          ]
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "label": "Heading > Color",
          "id": "heading___divider_color",
          "type": "text"
        },
        {
          "type": "number",
          "id": "VEDA_space_5",
          "label": "Heading > Padding > Bottom"
        },
        {
          "type": "number",
          "id": "VEDA_space_6",
          "label": "Heading > Padding > Left"
        },
        {
          "type": "number",
          "id": "VEDA_space_7",
          "label": "Heading > Padding > Right"
        },
        {
          "type": "number",
          "id": "VEDA_space_8",
          "label": "Heading > Padding > Top"
        }
      ]
    },
    {
      "type": "heading_icon",
      "name": "Heading > Icon",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Icon",
          "info": "[Get icon](https://fontawesome.com/v5/search)",
          "id": "heading___icon",
          "type": "html",
          "default": "<i class=\"far fa-atom\"></i>"
        },
        {
          "label": "Heading > Align",
          "id": "heading___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_5",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_6",
          "info": "Please DON'T edit this field.",
          "label": "Heading > Design > Id"
        }
      ]
    },
    {
      "type": "heading_space",
      "name": "Heading > Space",
      "settings": [
        {
          "label": "Heading > Enable",
          "id": "heading___enable",
          "type": "checkbox",
          "default": true
        },
        {
          "label": "Heading > Space",
          "id": "heading___space",
          "type": "number",
          "default": 20
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "number",
          "id": "content___image__height",
          "info": "1800 x 600px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "content___image__src",
          "info": "1800 x 600px recommended",
          "label": "Image"
        },
        {
          "type": "number",
          "id": "content___image__width",
          "info": "1800 x 600px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_7",
          "info": "Please DON'T edit this field.",
          "label": "Content > Sub Title Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_8",
          "info": "Please DON'T edit this field.",
          "label": "Content > Sub Title Design > Id"
        },
        {
          "label": "Content > Sub Title",
          "id": "content___sub_title",
          "type": "liquid",
          "default": "Sub Title"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_9",
          "info": "Please DON'T edit this field.",
          "label": "Content > Title Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_10",
          "info": "Please DON'T edit this field.",
          "label": "Content > Title Design > Id"
        },
        {
          "label": "Content > Title",
          "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
          "id": "content___title",
          "type": "liquid",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_11",
          "info": "Please DON'T edit this field.",
          "label": "Content > Description Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_12",
          "info": "Please DON'T edit this field.",
          "label": "Content > Description Design > Id"
        },
        {
          "label": "Content > Description",
          "info": "Useful: Using [ MyShopKit HTML Generator](https://myshopkit.app/shopify-color-codes/) to make up your text",
          "id": "content___description",
          "type": "liquid"
        },
        {
          "type": "header",
          "content": "Content > Button"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_13",
          "info": "Please DON'T edit this field.",
          "label": "Content > Button Design > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_14",
          "info": "Please DON'T edit this field.",
          "label": "Content > Button Design > Id"
        },
        {
          "label": "Content > Text",
          "id": "content___button_text",
          "type": "liquid",
          "default": "Shop now"
        },
        {
          "label": "Content > Open In New Tab",
          "id": "content___new_tab",
          "type": "checkbox",
          "default": false
        },
        {
          "label": "Content > Link",
          "id": "content___button_link",
          "type": "url"
        },
        {
          "label": "Content > Variant",
          "id": "content___button_variant",
          "type": "select",
          "default": "light",
          "options": [
            {
              "label": "Link",
              "value": "link"
            },
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            },
            {
              "label": "Dark",
              "value": "dark"
            },
            {
              "label": "Gray",
              "value": "gray"
            },
            {
              "label": "Light",
              "value": "light"
            }
          ]
        },
        {
          "label": "Content > Align",
          "id": "content___align",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Content > Icon"
        },
        {
          "label": "Content > Enable",
          "id": "content___icon_enable",
          "type": "checkbox",
          "default": true
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_15",
          "info": "Please DON'T edit this field.",
          "label": "Content > Icon > Css"
        },
        {
          "type": "text",
          "id": "VEDA_styleBox_16",
          "info": "Please DON'T edit this field.",
          "label": "Content > Icon > Id"
        },
        {
          "label": "Content > Choose",
          "info": "[Get icon](https://fontawesome.com/v5/search)",
          "id": "content___choose_icon",
          "type": "html",
          "default": "<i class=\"far fa-arrow-right\"></i>"
        },
        {
          "label": "Content > Icon Position",
          "id": "content___icon_position",
          "type": "radio",
          "default": "right",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Content > Design"
        },
        {
          "label": "Content > Border Radius",
          "id": "content___border_radius",
          "type": "number"
        },
        {
          "label": "Content > Aspect Ratio",
          "id": "content___aspect_ratio",
          "type": "number",
          "default": 60
        },
        {
          "label": "Content > Content Width (%)",
          "id": "content___content_width",
          "type": "number"
        },
        {
          "label": "Content > Position",
          "id": "content___position",
          "type": "radio",
          "default": "left",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        }
      ]
    }
  ],
  "settings": [
    {
      "label": "Section Settings > Container Width",
      "id": "VEDA_select_1",
      "type": "select",
      "default": "boxed",
      "options": [
        {
          "label": "Boxed",
          "value": "boxed"
        },
        {
          "label": "Full Width",
          "value": "full_width"
        },
        {
          "label": "Manual",
          "value": "manual"
        }
      ]
    },
    {
      "label": "Section Settings > Width",
      "id": "section_settings___width",
      "type": "number"
    },
    {
      "label": "Section Settings > Container Gap",
      "id": "VEDA_slider_1",
      "type": "number"
    },
    {
      "label": "Section Settings > Column Gap",
      "id": "VEDA_slider_2",
      "type": "number"
    },
    {
      "label": "Section Settings > Background Type",
      "id": "VEDA_select_2",
      "type": "select",
      "default": "none",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Color",
          "value": "color"
        },
        {
          "label": "Video",
          "value": "video"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "number",
      "id": "VEDA_image_1",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "VEDA_image_2",
      "label": "Background Image"
    },
    {
      "type": "number",
      "id": "VEDA_image_3",
      "label": "Background Image"
    },
    {
      "label": "Section Settings > Background Color",
      "id": "VEDA_color_1",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Video",
      "id": "VEDA_video_1",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Fixed",
      "id": "VEDA_switch_1",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Size",
      "id": "VEDA_select_3",
      "type": "select",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ]
    },
    {
      "label": "Section Settings > Enable Background Overlay",
      "id": "VEDA_switch_2",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Background Overlay Color",
      "id": "VEDA_color_2",
      "type": "text"
    },
    {
      "label": "Section Settings > Background Overlay Blur",
      "id": "VEDA_slider_3",
      "type": "number"
    },
    {
      "label": "Section Settings > Enable Separator",
      "id": "VEDA_switch_3",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "Section Settings > Separator Top",
      "id": "VEDA_slider_4",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Bottom",
      "id": "VEDA_slider_5",
      "type": "number"
    },
    {
      "label": "Section Settings > Separator Color",
      "id": "VEDA_color_3",
      "type": "text",
      "default": "var(--color-gray2)"
    },
    {
      "type": "number",
      "default": 50,
      "id": "VEDA_space_1",
      "label": "Section Settings > Padding > Bottom"
    },
    {
      "type": "number",
      "id": "VEDA_space_2",
      "label": "Section Settings > Padding > Left"
    },
    {
      "type": "number",
      "id": "VEDA_space_3",
      "label": "Section Settings > Padding > Right"
    },
    {
      "type": "number",
      "default": 50,
      "id": "VEDA_space_4",
      "label": "Section Settings > Padding > Top"
    },
    {
      "label": "View All Button > Enable",
      "id": "button_view_all___enable",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "View All Button > Text",
      "id": "button_view_all___text",
      "type": "liquid",
      "default": "View All"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_17",
      "info": "Please DON'T edit this field.",
      "label": "View All Button > Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_18",
      "info": "Please DON'T edit this field.",
      "label": "View All Button > Design > Id"
    },
    {
      "label": "View All Button > Open In New Tab",
      "id": "VEDA_switch_4",
      "type": "checkbox",
      "default": false
    },
    {
      "label": "View All Button > Link",
      "id": "button_view_all___link",
      "type": "url"
    },
    {
      "label": "View All Button > Variant",
      "id": "VEDA_select_4",
      "type": "select",
      "default": "link",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Primary",
          "value": "primary"
        },
        {
          "label": "Secondary",
          "value": "secondary"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Gray",
          "value": "gray"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "label": "View All Button > Position",
      "id": "VEDA_select_5",
      "type": "select",
      "default": "bottom",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "label": "View All Button > Align",
      "id": "button_view_all___align",
      "type": "radio",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "View All Button > Icon"
    },
    {
      "label": "View All Button > Enable",
      "id": "VEDA_switch_5",
      "type": "checkbox",
      "default": true
    },
    {
      "label": "View All Button > Choose",
      "info": "[Get icon](https://fontawesome.com/v5/search)",
      "id": "VEDA_icon_1",
      "type": "html",
      "default": "<i class=\"far fa-atom\"></i>"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_19",
      "info": "Please DON'T edit this field.",
      "label": "View All Button > Design > Css"
    },
    {
      "type": "text",
      "id": "VEDA_styleBox_20",
      "info": "Please DON'T edit this field.",
      "label": "View All Button > Design > Id"
    },
    {
      "label": "View All Button > Position",
      "id": "VEDA_radioGroup_1",
      "type": "radio",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "number",
      "default": 2,
      "id": "VEDA_responsive_1",
      "label": "Responsive > Content Item > Large"
    },
    {
      "type": "number",
      "default": 2,
      "id": "VEDA_responsive_2",
      "label": "Responsive > Content Item > Medium"
    },
    {
      "type": "number",
      "default": 1,
      "id": "VEDA_responsive_3",
      "label": "Responsive > Content Item > Small"
    },
    {
      "type": "number",
      "default": 1,
      "id": "VEDA_responsive_4",
      "label": "Responsive > Content Item > Extra small"
    },
    {
      "type": "number",
      "default": 12,
      "id": "VEDA_responsive_5",
      "label": "Responsive > Heading And Content > Large"
    },
    {
      "type": "number",
      "default": 12,
      "id": "VEDA_responsive_6",
      "label": "Responsive > Heading And Content > Medium"
    },
    {
      "type": "number",
      "default": 12,
      "id": "VEDA_responsive_7",
      "label": "Responsive > Heading And Content > Small"
    },
    {
      "type": "number",
      "default": 12,
      "id": "VEDA_responsive_8",
      "label": "Responsive > Heading And Content > Extra small"
    },
    {
      "label": "Responsive > Heading Position",
      "id": "VEDA_radioGroup_2",
      "type": "radio",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    }
  ],
  "tag": "div"
}
{% endschema %}
